/producer/node_modules
/producer/public/hot
/producer/public/storage
/producer/storage/*.key
/producer/vendor
/producer/.env
/producer/.env.backup
/producer/Homestead.json
/producer/Homestead.yaml
/producer/npm-debug.log
/producer/yarn-error.log

/consumer/node_modules
/consumer/public/hot
/consumer/public/storage
/consumer/storage/*.key
/consumer/vendor
/consumer/.env
/consumer/.env.backup
/consumer/Homestead.json
/consumer/Homestead.yaml
/consumer/npm-debug.log
/consumer/yarn-error.log